<%- include ("./partials/header.ejs") %>

    <body>
        <%- include ("./partials/nav.ejs") %>
            <div class="container">
                <h1>index</h1>
            </div>
    </body>
    <%- include ("./partials/footer.ejs") %>